/* app/globals.css dans atlantic-drones-v2 */

/* --- CORRECTION : Utiliser la bonne syntaxe @tailwind --- */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------------------------------------- */


body {
    background-color: white;
    color: rgb(17 24 39);
}

@layer components {
    .btn-primary {
        padding: 0.75rem 1.5rem;
        background-color: rgb(153 27 27); /* bg-red-800 */
        color: white;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: background-color 0.2s;
    }
    .btn-primary:hover {
        background-color: rgb(185 28 28); /* bg-red-900 */
    }
    
    /* Bouton Bleu */
    .btn-secondary {
        padding: 0.75rem 1.5rem;
        background-color: rgb(30 58 138); /* bg-blue-900 */
        color: white;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: background-color 0.2s;
    }
    .btn-secondary:hover {
        background-color: rgb(29 78 216); /* bg-blue-700 */
    }
}